@import "tailwindcss";
@plugin "daisyui";

/* * {
  color: inherit !important;
  background-color: inherit !important;
  border-color: inherit !important;
} */

/* Force fallback to rgba/hex */
.a4-page,
.a4-page * {
  color: #111111 !important;
  background-color: #ffffff !important;
  border-color: #e5e5e5 !important;
}

/* Or just block oklch entirely */
/* * {
  color: rgb(17, 17, 17) !important;
  background-color: rgb(255, 255, 255) !important;
} */
